@import "variables.less";

.copyright {

  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Roboto";
  font-weight: medium;
  font-size: 12px;
  line-height: 24px;
  color: #bebebe;
  text-transform: uppercase;


  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #f26648;
    &:hover {
      color: #db5133;
    }
  }
}

@media(max-width: @tablet-width) {
  .copyright {
    font-size: 8px;
  
    display: block;
    text-align: center;
  }
}